---
# tasks file for win_ad_install
- name: install AD-Domain-Services
  win_feature:
    name: AD-Domain-Services
    state: present

- name: debug
  debug:
    msg: ad1.${GUID}.example.opentlc.com 

- name: domain name
  win_domain:
   dns_domain_name: ad1.${GUID}.example.opentlc.com
   safe_mode_password: "{{ ansible_password }}"
  notify: win reboot

- name: list domains test
  shell: nltest /dclist:"{{ ad_domain_name }}" 
  retries: 10
  delay: 5
  




