---
# tasks file for win_ad_install

- include_vars: my_ad_vars.yml

- name: install AD-Domain-Services
  win_feature:
    name: AD-Domain-Services
    state: present

- name: debug
  debug:
    var: ssh_host 

- name: domain name
  win_domain:
    dns_domain_name: "{{ ssh_host }}"
    safe_mode_password: "{{ ansible_password }}"
  register: domain_name_result
  ignore_errors: true

- name: show status
  debug:
    var: domain_name_result.stderr
  when: 
    - domain_name_result.rc == 1
    - domain_name_result | ok

- name: win reboot
  win_reboot:
    msg: reboot initiated by ansible
  when: (domain_name_result.reboot is required) or 
        (domain_name_result.stderr.find('restart') == 1) 


- name: list domains test
  shell: nltest /dclist:"{{ ad_domain_name }}" 
  retries: 10
  delay: 5
  




